
.DS_Store

linear3DSobelPowerFilter.xcodeproj/xcuserdata/beau.xcuserdatad/xcschemes/xcschememanagement.plist

linear3DSobelPowerFilter.xcodeproj/xcuserdata/beau.xcuserdatad/xcschemes/linear3DSobelPowerFilter.xcscheme

linear3DSobelPowerFilter.xcodeproj/project.pbxproj

linear3DSobelPowerFilter.xcodeproj/project.xcworkspace/contents.xcworkspacedata

linear3DSobelPowerFilter.xcodeproj/project.xcworkspace/xcuserdata/beau.xcuserdatad/UserInterfaceState.xcuserstate

DerivedData